<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to my Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <h1>Welcome to my Website</h1>
    <div><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <hr>
    <div class="center">
      <a href="/about">About us</a>
      <a href="/photogallery">Photo Gallery</a>
  
      <form action="/user_data" method="POST">
        <button type="submit">Send to Server!</button>
      </form>
    </div>


  </body>
</html>